h1 {
    text-align: center;
    border: 2px solid;
    border-color: green;
    border-radius: 15px;
  }
  
  a {
    color: green
  }
  
  a:visited{
    color:rgb(124, 199, 13)
  }
  
  body {
    background-color: rgb(203, 245, 245);
  }
  
  li:hover{
    background-color: rgb(255, 92, 33);
    font-size: xxx-large;
    border: 10px blue dotted;
    border-radius: 10px;
  }