* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

header,aside,main,footer,div{
    border: black solid 1px;
}

.grid-container {
    display: grid;
    grid-template:
    "lateral cabecera lateral2"
    "lateral principal lateral2"
    "lateral pie lateral2";

    height: 100vh;
    grid-template-rows: 2fr 30fr 1fr;
    grid-template-columns: 3fr 25fr 3fr;
}

header {
    grid-area: cabecera;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/imagenes/Faro_de_Trafalgar_al_atardecer.jpg);
    background-size:300px 200px;
}

header div {
    background-image: url(../resources/fondos/fondo2.jpg);
    width: 65%;
    align-items: center;
}

#escudo {
    height: 100px;
    float: left;
}

aside {
    grid-area: lateral;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    background-color:burlywood;
}

.icono {
    height: 120px;
}

.icono:hover {
    background-color: yellowgreen;
}

#actual {
    background-color: rgb(208, 167, 113);
}

main {
    grid-area: principal;
    background-image: url(../resources/fondos/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.derecha {
    grid-area: lateral2;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: pie;
    background-color:khaki;
    padding: 0px 5px 0px;
}

article{
    margin: 20px;
    text-align: justify;
}

h2 {
    color: brown;
}

article p, article li {
    margin: 10px;
    color:darkblue;
}

.img_texto {
    height: 200px;
    float: right;
    overflow: auto;
    margin: 5px 5px;
}

.img_texto_centro {
    height:500px;
    text-align: center;
    border: 0px;
}